<div class="dialog-container">
    <h2 mat-dialog-title>Excluir Tarefas?</h2>
    <mat-dialog-content>
        Deseja excluir todas as tarefas? <br>
        <span>Atenção! Essa ação é irreversível!</span>
    </mat-dialog-content>
    <mat-dialog-actions class="buttons">
        <button mat-button color="primary" (click)="excluirTodos()" [mat-dialog-close]="false" id="delete-button"><mat-icon>pets</mat-icon></button>
        <button mat-button color="warn" mat-dialog-close cdkFocusInitial><mat-icon>close</mat-icon></button>
    </mat-dialog-actions>
</div>