.card {
    background-image: url(/assets/images/background-update.png);
    background-color: #F0F0F0;

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .form {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
        margin-left: 15px;
        margin-bottom: 20px;
    
        #update-button {
            color: #00AB66;
        }
        mat-icon{
            transform: scale(1.5);
        }
    
        button {
            width: 150px;
            height: 40px;
        }
    }
}