h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    #add-button {
        color: #00AB66;
    }
    mat-icon{
        transform: scale(1.5);
    }
    button {
        width: 150px;
        height: 40px;
    }
}