<div class="main-content">
    <div class="main-container">
        <mat-card-title id="main-title">Minha Lista:</mat-card-title>
        <mat-card-content>
            <div class="cadastro-tarefa">
                <button class="add-button" (click)="cadastrarDialog()">
                    <mat-icon id="add-icon">add_box</mat-icon>
                </button>
                <button mat-stroked-button class="finalizados-button" routerLink="/tarefas-finalizadas">Tarefas Finalizadas</button>
            </div>
            <div *ngIf="tarefas.length > 0; else semTarefas" class="tarefas-container">
                <div *ngFor="let tarefa of tarefas" class="lista-tarefas" >
                    <mat-card class="tarefas-card">
                        <div class="content">
                            <mat-card-content>
                                <h2>{{tarefa.descricao}}</h2>
                            </mat-card-content>
                        </div>
                        <mat-card-actions class="buttons">
                            <div class="first-button-row">
                                <button (click)="finalizarTarefa(tarefa)" class="check-button" mat-icon-button
                                    color="primary">
                                    <mat-icon id="check-icon">check</mat-icon>
                                </button>
                            </div>
                            <div class="second-button-row">
                                <button (click)="editarDialog(tarefa)" mat-icon-button color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="excluirDialog(tarefa)" mat-icon-button color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <ng-template #semTarefas>
                <h2 style="margin-left: 20px;">Lista de Tarefas vazia? Tente adicionar uma tarefa!</h2>
            </ng-template>
        </mat-card-content>
    </div>
</div>