<div class="main-content">
    <mat-card class="main-card">
        <mat-card-title id="main-title">Minha Lista:</mat-card-title>
        <mat-card-content>
            <div class="cadastro-tarefa">
                <button class="add-button" (click)="cadastrarDialog()">
                    <mat-icon id="add-icon">add_box</mat-icon>
                </button>
            </div>
            <div class="lista-tarefas">
                <mat-card class="tarefas-card">
                    <mat-card-content>oi</mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>